<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutTitle }}</h3>
            <div class="row about-details">
                {% assign animationDelay = 0 %}
                {% for about in site.aboutBlock %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-6">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <h5>{{ about.title }}</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/about-section/{{ about.image }}" height="128" width="128" alt="{{ about.title }}">
                        <p>{{ about.text }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}


            </div>

            <div class="row">


                <div class="col-md-12 col-xs-12" style="padding:64px;">

                <h6>
                
                    The rise of machines and systems that can act ‘intelligently’, perform tasks that have previously been attributed to humans alone is inevitable. At the heart of this revolutionary capabilities, is a discipline known as Artificial intelligence (AI). Several experts have claimed, with reason, that AI is a double-edged sword, with the potential to replace jobs, yet improve the fate of humanity.
                    With the current data revolution, good or bad, AI is here to stay and cannot be ignored. Gaining a grasp of this exciting area would give anyone an edge in the AI revolution. To this end, CMU-Africa Data science club is organizing a hands-on AI bootcamp for interested developers and residents in Kigali. The bootcamp would cover topics in Machine learning, deep learning and applications of AI as well as tools such as Scikit-learn, tensorflow, and Keras. 
             
                
                </h6>

              </div>


            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
